@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

/* tela principal */
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
}

/* menu lateral */
.container .menu-lateral {
    height: 100%;
    width: 80px;
    background: #ebeefa;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* logo */
.empresa {
    margin-top: 15px;
    rotate: 90deg;
}

/* icones do meio */
.mid {
    display: flex;
    flex-direction: column;
}

/* tamanho dos icones */
i {
    margin: 15px;
}

/* foto do usuário */
.homem{
    height: 50px;
    border-radius: 70px;
    margin-left: 8px;
}

/* menu dashboard */
.container .menu {
    height: 100%;
    width: 280px;
    background: #f4f6fd;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* parte de cima */
.container .menu .box1 {
    padding-top: 50px;
}


/* a lista */
.container .menu ul li {
    margin: 15px;
    font-size: 16px;
    font-weight: 600;
    list-style: none;
}

/* link que ainda não foi acessado */
a {
    text-decoration: none;
    color: #000000;
}

/* link que foi visitado */
a:visited {
    color: rgb(0, 0, 0);
}

/* quando o ponteiro do mouse passa no link */
a:hover {
    color: #cb15d1;
}

/* quando o link for selecionado */
a:active {
    color: #333;
}

/* resto da tela */
.container .main {
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    position: relative;
}

/* toda a parte de cima */
.head-main {
    display: flex;
    justify-content: space-between;
    margin: 40px 40px 20px 40px;
    flex-wrap: wrap;

}

/* o nome da empresa */
.head-main-left {
    color: #8894b5;
    font-size: 23px;
    margin-top: 40px;
    /* botao de buscar */
}

.icone{
    border-radius: 20px;
    border: none;
    margin: 5px;
    cursor:pointer
}

.btn-text-top {
    background-color: #f5f6fa;
    border: 1px solid rgba(255, 255, 255, .1);
    padding: 15px 50px 15px 30px;
    border-radius: 30px;
    width: 220px;
    height: 20px;
    font-weight: 300;
    color: #8795a2;
}

/* a lupa */
.btn-buscar-top {
    width: 20px;
    height: 22px;
    background: url(http://www.devmedia.com.br/imagens/2013/buscar_grey.png) no-repeat;
    border: none;
    transform: translateY(-50%);
    transform: scaleX(-1);
    padding: 0;
    position: relative;
    top: -37px;
    left: 465px;
}

input {
    font-size: 20px; /* Tamanho da fonte do texto inserido na caixa de busca */
}

.title{
    font-size: 30px;
    margin-left: 60px;
    margin-top: -10px;
}

.main-center{
    display: flex;
}
.main-div{
    width: 600px;
    height: 200px;
    border-radius: 50px;
    border: #eaedf6;
    border-style: solid;
    background: #f4f6fd;
    position: relative;
    margin-left: 15px;
}


.main-top{
    display: flex;
}

.user1{
    position: absolute;
    left: 10px;
    height: 50px;
    border-radius: 70px;
    margin-left: 8px;
    margin-top: 6px;
}
.user2{
    position: absolute;
    left: 45px;
    height: 50px;
    border-radius: 70px;
    margin-left: 8px;
    margin-top: 6px;
}
.user3{
    position: absolute;
    left: 85px;
    height: 50px;
    border-radius: 70px;
    margin-left: 8px;
    margin-top: 6px;
}

.text{
    margin-top: 70px;
    margin-left: 50px;
}

h3{
    font-size: 40px;
    font-weight: 400;
}

p{
    color: #9297b7;
}
.flash{
    background: #ff48ee;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    box-shadow: 1px 5px 10px #ff48ee;
    position: absolute;
    border: none;
    right: 90px;
    top: -40px;
    cursor: pointer;

}

.flash2{
    background: #6171ff;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    box-shadow: 1px 5px 10px #6171ff;
    position: absolute;
    border: none;
    right: 90px;
    top: -40px;
    cursor: pointer;
}

.dots{
    position: absolute;
    right: 20px;
    top: 4px;
    cursor: pointer;
}